<header class="jumbotron">
  <h1>Welcome to our website</h1>
  <nav class="row">
    <a routerLink="/" class="btn btn-primary mr-2 p1">Home</a>
    <a routerLink="/about" class="btn btn-primary mr-2 p1">About</a>
    <a routerLink="/students/add" class="btn btn-primary mr-2 p1">Add Student</a>
    <a routerLink="/students" class="btn btn-primary mr-2 p1">View All Student</a>
    <a routerLink="/chat/login" class="btn btn-primary mr-2 p1">Chat application</a>
  </nav>
</header>
<main class="container">
  <router-outlet></router-outlet>
</main>
